<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">


  <meta http-equiv="x-ua-compatible" content="ie=edge">



  <title>Home | Tirex.com</title>
  <meta name="description" content="Shop powered by PrestaShop">
  <meta name="keywords" content="">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/user_assets/ridestyle/img/favicon.ico@1324977642">



  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">



  <link rel="icon" type="image/vnd.microsoft.icon"
    href="/public/user_assets/ridestyle/themes/vinova_ridestyle/assets/img/icon">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/user_assets/ridestyle/img/favicon.ico@1324977642"> -->
  <link rel="icon" type="image/png" href="/user_assets/ridestyle/img/favicon.ico@1324977642">



  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">



  <link rel="stylesheet" href="/user_assets/ridestyle/themes/vinova_ridestyle/assets/cache/theme-699bbe41.css"
    type="text/css" media="all">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  





  <script type="text/javascript">
    var baseDir = "\/ridestyle\/";
    var isLogged = false;
    var isLoggedWishlist = false;
    var prestashop = { "cart": { "products": [], "totals": { "total": { "type": "total", "label": "Total", "amount": 0, "value": "$0.00" }, "total_including_tax": { "type": "total", "label": "Total (tax incl.)", "amount": 0, "value": "$0.00" }, "total_excluding_tax": { "type": "total", "label": "Total (tax excl.)", "amount": 0, "value": "$0.00" } }, "subtotals": { "products": { "type": "products", "label": "Subtotal", "amount": 0, "value": "$0.00" }, "discounts": null, "shipping": { "type": "shipping", "label": "Shipping", "amount": 0, "value": "Free" }, "tax": { "type": "tax", "label": "Taxes", "amount": 0, "value": "$0.00" } }, "products_count": 0, "summary_string": "0 items", "vouchers": { "allowed": 0, "added": [] }, "discounts": [], "minimalPurchase": 0, "minimalPurchaseRequired": "" }, "currency": { "name": "US Dollar", "iso_code": "USD", "iso_code_num": "840", "sign": "$" }, "customer": { "lastname": null, "firstname": null, "email": null, "birthday": null, "newsletter": null, "newsletter_date_add": null, "optin": null, "website": null, "company": null, "siret": null, "ape": null, "is_logged": false, "gender": { "type": null, "name": null }, "addresses": [] }, "language": { "name": "English (English)", "iso_code": "en", "locale": "en-US", "language_code": "en-us", "is_rtl": "0", "date_format_lite": "m\/d\/Y", "date_format_full": "m\/d\/Y H:i:s", "id": 1 }, "page": { "title": "", "canonical": null, "meta": { "title": "Prestashop_RideStyle", "description": "Shop powered by PrestaShop", "keywords": "", "robots": "index" }, "page_name": "index", "body_classes": { "lang-en": true, "lang-rtl": false, "country-US": true, "currency-USD": true, "layout-full-width": true, "page-index": true, "tax-display-disabled": true }, "admin_notifications": [] }, "shop": { "name": "Prestashop_RideStyle", "logo": "\/ridestyle\/img\/logo.png", "stores_icon": "\/ridestyle\/img\/logo_stores.png", "favicon": "\/ridestyle\/img\/favicon.ico" }, "urls": { "base_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/", "current_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/?home=home_1&SubmitCurrency=1&id_currency=1", "shop_domain_url": "https:\/\/demo.bestprestashoptheme.com", "img_ps_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/", "img_cat_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/c\/", "img_lang_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/l\/", "img_prod_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/", "img_manu_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/m\/", "img_sup_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/su\/", "img_ship_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/s\/", "img_store_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/st\/", "img_col_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/co\/", "img_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/themes\/vinova_ridestyle\/assets\/img\/", "css_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/themes\/vinova_ridestyle\/assets\/css\/", "js_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/themes\/vinova_ridestyle\/assets\/js\/", "pic_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/upload\/", "pages": { "address": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/address", "addresses": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/addresses", "authentication": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/login", "cart": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/cart", "category": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=category", "cms": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=cms", "contact": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/contact-us", "discount": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/discount", "guest_tracking": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/guest-tracking", "history": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order-history", "identity": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/identity", "index": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/", "my_account": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/my-account", "order_confirmation": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order-confirmation", "order_detail": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=order-detail", "order_follow": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order-follow", "order": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order", "order_return": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=order-return", "order_slip": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/credit-slip", "pagenotfound": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/page-not-found", "password": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/password-recovery", "pdf_invoice": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=pdf-invoice", "pdf_order_return": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=pdf-order-return", "pdf_order_slip": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=pdf-order-slip", "prices_drop": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/prices-drop", "product": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=product", "search": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/search", "sitemap": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/sitemap", "stores": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/stores", "supplier": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/supplier", "register": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/login?create_account=1", "order_login": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order?login=1" }, "alternative_langs": { "en-us": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/?home=home_1&SubmitCurrency=1&id_currency=1", "fr-fr": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/fr\/?home=home_1&SubmitCurrency=1&id_currency=1", "es-es": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/es\/?home=home_1&SubmitCurrency=1&id_currency=1", "it-it": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/it\/?home=home_1&SubmitCurrency=1&id_currency=1", "pl-pl": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/pl\/?home=home_1&SubmitCurrency=1&id_currency=1", "ar-sa": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/ar\/?home=home_1&SubmitCurrency=1&id_currency=1" }, "theme_assets": "\/ridestyle\/themes\/vinova_ridestyle\/assets\/", "actions": { "logout": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/?mylogout=" }, "no_picture_image": { "bySize": { "small_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-small_default.jpg", "width": 125, "height": 74 }, "cart_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-cart_default.jpg", "width": 125, "height": 125 }, "medium_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-medium_default.jpg", "width": 370, "height": 220 }, "home_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-home_default.jpg", "width": 450, "height": 268 }, "large_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-large_default.jpg", "width": 570, "height": 339 } }, "small": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-small_default.jpg", "width": 125, "height": 74 }, "medium": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-medium_default.jpg", "width": 370, "height": 220 }, "large": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-large_default.jpg", "width": 570, "height": 339 }, "legend": "" } }, "configuration": { "display_taxes_label": false, "is_catalog": false, "show_prices": true, "opt_in": { "partner": true }, "quantity_discount": { "type": "price", "label": "Price" }, "voucher_enabled": 0, "return_enabled": 0 }, "field_required": [], "breadcrumb": { "links": [{ "title": "Home", "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/" }], "count": 1 }, "link": { "protocol_link": "https:\/\/", "protocol_content": "https:\/\/" }, "time": 1693838046, "static_token": "9d691e438ad3bb533a2a9a0ac6fec67f", "token": "4aa7460c85dac8f063b8f1681141bc80" };
    var search_url = "https:\/\/user_asset\/ridestyle\/en\/search";
    var static_token = "9d691e438ad3bb533a2a9a0ac6fec67f";
    var wishlistProductsIdsobject = [];
  </script>



  <style id="antiClickjack">
    body {
      display: none !important;
    }
  </style>
  <style>
    #cart-subtotal-shipping {
      display: none;
    }

    .cart-content p:nth-child(3n) {
      display: none;
    }

    .summary-selected-carrier .carrier-delay {
      display: none;
    }
  </style>
  <script type="text/javascript">
    if (self === top) {
      var antiClickjack = document.getElementById("antiClickjack");
      antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
      top.location = self.location;
    }
  </script>

  <style type="text/css">
    #main-site {
      background-color: #ffffff;
    }

    @media (min-width: 1200px) {
      .container {
        width: 1200px;
      }

      #header .container {
        width: 1200px;
      }

      .footer .container {
        width: 1200px;
      }

      #index .container {
        width: 1200px;
      }
    }

    #popup-subscribe .modal-dialog .modal-content {
      background-image: url(user_assets/ridestyle/modules/novthemeconfig/images/newsletter_bg.jpg);
    }
  </style>

</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled
   displayhomenovone">



  <main id="main-site">




    <header id="header" class="header-1">





      <div class="header-top hidden-sm-down group-sticky">
        <div class="container">
          <div class="row d-flex align-items-center content-header-top">
            <div class="col-xl-8 col-lg-7 col-md-9 d-flex align-items-center justify-content-between header-top-left">
              <div id="_desktop_logo" class="contentsticky_logo d-flex align-items-center justify-content-start">
                <a href="">
                  <img class="logo img-fluid" src="user_assets/userImages/logo-1.png" alt="RIDEX">
                </a>
              </div>

              <div id="_desktop_top_menu">
                <nav id="nov-megamenu" class="clearfix">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div id="megamenu" class="nov-megamenu clearfix">
                    <ul class="menu level1">
                      <li class="item home-page has-sub"><span class="opener"></span><a href="" title="Home"><i
                            class="zmdi zmdi-home"></i>Home</a>

                      </li>
                      <li class="item category-mega group"><span class="opener"></span><a href="/shoppage"
                          title="Shop"><i class="zmdi zmdi-tag"></i>Shop</a>

                      </li>
   
                      <li class="item "><a href="#" title="Contact us"><i class="zmdi zmdi-phone"></i>Contact us</a></li>
                      <li class="item "><a href="#" title="ABOUT"><i class="zmdi zmdi-accounts"></i>ABOUT</a></li>
                    </ul>
                  </div>
                </nav>
              </div>

            </div>
            <div class="col-xl-4 col-lg-5 col-md-3 d-flex align-items-center justify-content-end header-top-right">
              <div class="contentsticky_group d-flex align-items-center justify-content-end ">

                <div id="nov_block_myaccount_infos"
                  class="contentsticky_account hidden-sm-down dropdown header_link_myaccount">
                  <div class="myaccount-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" role="main">
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="account-list dropdown-menu">
                    <ul class="account-list-content" id="_desktop_account-list-content">
                      <li>
                        <a class="account" href="/userprofile" rel="nofollow" title="Log in to your customer account"><i
                            class="fa fa-cog"></i><span>My
                            Account</span></a>
                      </li>
                      <% if(!userid){ %>
                      <li>
                        <a class="login" href="/login" rel="nofollow" title="Log in to your customer account"><i
                            class="fa fa-sign-in"></i><span>Log
                            in</span></a>
                      </li>
                      <% } %>
                      <% if(userid){ %>
                      <li>
                        <a class="logout" href="/logout" rel="nofollow" title="Log me out"><i
                            class="fa fa-sign-out"></i><span>Log out</span></a>
                      </li>
                      <% } %>
                      <% if(!userid){ %>
                      <li>
                        <a class="register" href="/userSignup " rel="nofollow" title="Register Account"><i
                            class="fa fa-user"></i><span>Register</span></a>
                      </li>
                      <% } %>
          

                    </ul>
                  </div>
                </div>
                <a href="/cart">
                <div class="contentsticky_cart">
                  <div id="_desktop_cart">
                    <div class="blockcart cart-preview"
                      data-refresh-url="/user_assets/ridestyle/en/module/ps_shoppingcart/ajax">
                      <div class="header-cart">
                        <div class="header-cart-icon">
                          <span class="cart-products-count"></span>
                          <i class="fa fa-shopping-cart"></i>
                        </div>
                      </div>

                      <div class="cart_block ">
                        <% if(!cartData){ %>
                        <div class="no-items">
                          No products in the cart
                        </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </a>


        
              </div>
            </div>
          </div>
        </div>
      </div>

    </header>
    <div id="displayTop" class="displaytopone">
      <div class="container">
        <div class="row">
          <div class="nov-row  nov_row-no-padding " data-nov-full-width="true" data-nov-stretch-content="true">
            <div class="nov-row-wrap row">
              <div id="nov-slider" class="slider-wrapper theme-default col-xl-12 col-md-12" data-effect="random"
                data-slices="15" data-animSpeed="500" data-pauseTime="10000" data-startSlide="1"
                data-directionnav="true" data-controlNav="false" data-controlNavThumbs="false" data-pauseOnHover="true"
                data-manualAdvance="false" data-randomStart="false">
                <div class="nov_preload">
                  <div class="process-loading active">
                    <div class="loader">
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                    </div>
                  </div>
                </div>
                <div class="nivoSlider">
                  <% for (let i=0;i<banner.length;i++){ %>
                  <a href="/shoppage">
                    <img
                      src="admin-assets/imgs/<%= banner[i].image[0] %>"
                      alt="" title="#htmlcaption_27" />
                  </a>
                  <% } %>
                  
                  <% for (let i=0;i<banner.length;i++){ %>

                  <a href="/shoppage">
                    <img
                      src="admin-assets/imgs/<%= banner[i].image[0] %>"
                      alt="" title="#htmlcaption_28" />
                  </a>
                  <% } %>

                  
                  <% for (let i=0;i<banner.length;i++){ %>

                  <a href="/shoppage">
                    <img
                      src="admin-assets/imgs/<%= banner[i].image[0] %>"
                      alt="" title="#htmlcaption_29" />
                  </a>
                  <% } %>


                </div>
                <div id="htmlcaption_27" class="nivo-html-caption">
                  <div class="nov-slider-ct">
                    <div class="nov-center slider-none">
                      <div class="nov-title effect-2">
                        Slider Home1 01
                      </div>
                      <div class="nov-description effect-7">
                        <p>Slider Home1 01</p>
                      </div>
                      <div class="nov-html effect-9">
                        <p>Slider Home1 01</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="htmlcaption_28" class="nivo-html-caption">
                  <div class="nov-slider-ct">
                    <div class="nov-center slider-none">
                      <div class="nov-title effect-2">
                        Slider Home1 02
                      </div>
                      <div class="nov-description effect-4">
                        <p>Slider Home1 02</p>
                      </div>
                      <div class="nov-html effect-9">
                        <p>Slider Home1 02</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="htmlcaption_29" class="nivo-html-caption">
                  <div class="nov-slider-ct">
                    <div class="nov-center slider-left">
                      <div class="nov-title effect-1">
                        Slider Home1 03
                      </div>
                      <div class="nov-description effect-1">
                        <p>Slider Home1 03</p>
                      </div>
                      <div class="nov-html effect-9">
                        <p>Slider Home1 03</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="nov_row-full-width clearfix w-100"></div>
        </div>
      </div>
    </div>
    <div id="wrapper-site">



      <div id="content-wrapper" class="full-width">


        <div id="main">







          <section id="content" class="page-home pagehome-one">
            <div class="container">
              <div class="row">
                <div class="nov-row policy-home col-xl-12 col-xs-12">
                  <div class="nov-row-wrap row">
                    <div class="nov-html col-xl-12 col-lg-12 col-md-12">
                      <div class="block">
                        <div class="block_content">
                          <div class="owl-carousel owl-theme" data-autoplay="true" data-autoplaytimeout="2000"
                            data-loop="true" data-margin="30" data-dots="false" data-nav="false" data-items="3"
                            data-items_large="3" data-items_tablet="2" data-items_mobile="1">
                            <div class="policy-item">
                              <div class="policy-icon"><a href="#"><i class="fa fa-truck"></i>1</a></div>
                              <div class="policy-content">
                                <div class="policy-name">FREE SHIPING</div>
                                <div class="policy-des"></div>
                              </div>
                            </div>
                            <div class="policy-item">
                              <div class="policy-icon"><a href="#"><i class="fa fa-phone"></i>2</a></div>
                              <div class="policy-content">
                                <div class="policy-name">24/7 SUPPORT</div>
                                <div class="policy-des"></div>
                              </div>
                            </div>
                            <div class="policy-item">
                              <div class="policy-icon"><a href="#"><i class="fa fa-undo"></i>3</a></div>
                              <div class="policy-content">
                                <div class="policy-name">30-DAYS FREE RETURN</div>
                                <div class="policy-des"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nov-row spacing-60 banner-special " data-nov-full-width="true"
                  data-nov-stretch-content="true">
                  <div class="nov-row-wrap row">
                    <div class="nov-image col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-xsm-30">
                      <div class="block">
                        <a class="thumb-nov-imgae" href="#"> <img class="img-fluid"
                            src="user_assets/userImages/image1.jpg" alt="Banner 1-1" title="Banner 1-1"></a>
                        <div class="content-banner">
                          <div class="banner-infor">
                            <div class="content-text">
                              <h4>New Bikes</h4>
                              <h1>ROAD BIKE<br>NEW<br>STYLE</h1>
                            </div>
                          </div>
                          <div class="banner-button">
                            <a class="button-image" href="/shoppage">
                              <span>Browse Shop</span>
                              <i class="title24 fa fa-arrow-right"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="nov-image col-xl-4 col-lg-4 col-md-4 col-sm-6">
                      <div class="block">
                        <a class="thumb-nov-imgae" href="#"> <img class="img-fluid"
                            src="user_assets/userImages/d999621e2448a8a52e7a6e6af7307018.jpg" alt="Banner 1-2"
                            title="Banner 1-2"></a>
                        <div class="content-banner">
                          <div class="banner-infor">
                            <div class="content-text">
                              <h4>Massive Reductions</h4>
                              <h1>NEARLY NEW<br>BIKE</h1>
                            </div>
                          </div>
                          <div class="banner-button">
                            <a class="button-image" href="/shoppage">
                              <span>Browse shop</span>
                              <i class="title24 fa fa-arrow-right"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="nov-image col-xl-4 col-lg-4 col-md-4 hidden-sm-down">
                      <div class="block">
                        <a class="thumb-nov-imgae" href="#"> <img class="img-fluid"
                            src="user_assets/userImages/07eeb78e0a11042f704246605a54a41a.jpg" alt="Banner 1-3"
                            title="Banner 1-3"></a>
                        <div class="content-banner">
                          <div class="banner-infor">
                            <div class="content-text">
                              <h4>The Big</h4>
                              <h1>CYCLING<br>SALE</h1>
                            </div>
                          </div>
                          <div class="banner-button">
                            <a class="button-image" href="/shoppage">
                              <span>Browse shop</span>
                              <i class="title24 fa fa-arrow-right"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nov_row-full-width clearfix w-100"></div>
                <div class="nov-row  col-xl-12 col-xs-12">
                  <div class="nov-row-wrap row">
                    <div class="nov-productlist productlist-slider col-md-12 col-xs-12 ">
                      <div class="block block-product clearfix">
                        <div class="title_block">
                          Best Seller
                          <div class="sub_title">
                            <h2>FEATURED PRODUCTS</h2>
                            <p class="desc"></p>
                          </div>
                        </div>

                        <div class="block_content">
                          <div id="productlist176244506" class="product_list grid owl-carousel owl-theme multi-row"
                            data-autoplay="false" data-autoplayTimeout="6000" data-loop="false" data-margin="30"
                            data-dots="false" data-nav="true" data-items="3" data-items_large="3" data-items_tablet="3"
                            data-items_mobile="2">
                            <% for(let i=0;i<products.length;i++){ %>
                              <% if(products[i].isblocked==false){%>
                              <div class="item  text-center">
                                <div class="product-miniature js-product-miniature item-one first_item"
                                  data-id-product="1" data-id-product-attribute="40" itemscope
                                  itemtype="http://schema.org/Product">
                                  <div class="thumbnail-container">

                                    <a href="/product?id=<%= products[i]._id%> "
                                      class="thumbnail product-thumbnail two-image">
                                      <img class="img-fluid image-cover"
                                        src="admin-assets/imgs/<%= products[i].images[0] %>     " alt=""
                                        data-full-size-image-url="/user_assets/ridestyle/24-large_default/yeti-sb6-t-series-x01-eagle-275.jpg"
                                        width="450" height="268">
                                      <img class="img-fluid image-secondary"
                                        src="admin-assets/imgs/<%= products[i].images[0] %>  " alt=""
                                        data-full-size-image-url="/user_assets/ridestyle/25-large_default/yeti-sb6-t-series-x01-eagle-275.jpg"
                                        width="450" height="268">
                                    </a>
                                  </div>

                                  <div class="product-groups">
                                    <div class="product-description">

                                      <div class="category-title"><a href="/view/users/productDisplay.ejs">
                                          <%= products[i].brandName %>
                                        </a></div>


                                      <div class="product-title" itemprop="name"><a
                                          href="/view/users/productDisplay.ejs">
                                          <%= products[i].productName %>
                                        </a></div>

                                      <div class="group-price d-flex align-items-center justify-content-between">
                                        <div class="product-comments">
                                          <div class="star_content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                          </div>
                                          <span>0 review</span>
                                        </div>

                                        <style>
                                              .original-price {
                                                        text-decoration: line-through;
                                                        font-size: 1em;
                                                        /* Adjust the font size as needed */
                                                      
                                                        color: orange
                                                    }
                                        </style>
                                        <div class="product-group-price">
                                          
                                          <div class="current-price">
                                            <span class="original-price">₹<%= products[i].regularPrice %>/-</span>
                                        </div>
                                        

                                          <div class="product-price-and-shipping">


                                            <span itemprop="price" class="price"> ₹<%= products[i].salePrice %></span>




                                          </div>

                                        </div>
                                      </div>
                                    </div>




                                    <div class="product-buttons d-flex justify-content-center" itemprop="offers"
                                      itemscope itemtype="http://schema.org/Offer">
                                     
                                      <a class="add-to-cart has-text"
                                        href="/product?id=<%= products[i]._id%>"><span>Select
                                          Options</span><i class="fa fa-check"></i></a>
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <%} %>
                              <% } %>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <style>
                  .animated-text {
                      opacity: 0;
                      transform: translateY(20px);
                      animation: fadeInUp 1s ease forwards;
                  }
          
                  @keyframes fadeInUp {
                      from {
                          opacity: 0;
                          transform: translateY(20px);
                      }
                      to {
                          opacity: 1;
                          transform: translateY(0);
                      }
                  }
              </style>
                <div class="nov-row special-product-banner nov_row-no-padding" style="background-color: #f5f5f5;" data-nov-full-width="true" data-nov-stretch-content="true">
                  <div class="nov-row-wrap row">
                      <div class="nov-image col-xl-12 col-lg-12 col-md-12 no-padding col-md-12" style="position: relative;">
                        <video src="/admin-assets/imgs/videos/The_World_Of_Mountain_Bike_4K_x4LRLFGrliw_137 (online-video-cutter.com) (1) (1).mp4" muted autoplay style="width: 100%; height: auto;"></video>

                          <div class="content-banner" style="position: absolute; top: 0; left: 0; padding-top: 20%;">
                              <div class="banner-infor">
                                  <div class="content-text">
                                    <style>
                                      h4, h1 {
                                        color: #f5f5f5;
                                        text-align: center;
                                      }
                                    
                                      @media (max-width: 768px) {
                                        h4 {
                                          font-size: 1.5em; /* Adjust the size for smaller screens */
                                        }
                                    
                                        h1 {
                                          font-size: 2em; /* Adjust the size for smaller screens */
                                        }
                                      }
                                    </style>
                                    
                                    <h4 class="animate__animated animate__fadeIn">Product of trending</h4>
                                    <h1 class="animate__animated animate__fadeIn">MOUNTAIN BIKE <br> SALE 50%</h1>
                                    
                                  </div>
                              </div>
                              <div class="banner-button">
                                <style>
                                  .button-image {
                                    display: inline-block;
                                    padding: 10px 20px;
                                    background-color: #f90; /* Orange color */
                                    color: #fff; /* White text color */
                                    text-decoration: none;
                                    border-radius: 5px;
                                    transition: background-color 0.3s;
                                  }
                                
                                  .button-image:hover {
                                    background-color: #e58000; /* Darker orange on hover */
                                  }
                                
                                  .button-image i {
                                    margin-left: 10px;
                                  }
                                </style>
                                
                                <a class="button-image" href="/shoppage">
                                  <span>Browse Shop</span>
                                  <i class="title24 fa fa-arrow-right"></i>
                                </a>
                                
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              
              
              
              
              
              </div>
              <div class="nov_row-full-width clearfix w-100"></div>
              <div class="nov-row  col-xl-12 col-xs-12">
                <div class="nov-row-wrap row">
                  <div class="nov-productlist-special col-md-12 col-xs-12 ">
                    <div class="block block-product clearfix">
                      <div class="block-title">
                        <div class="title_block">
                          Ride In Style
                          <div class="sub_title">
                            <h2>NEW PRODUCTS</h2>
                          </div>
                        </div>
                      </div>
                      <div class="block_content row">
                        <div class="col-12 col-lg-4 col-md-4 product-left text-center">
                          <div class="row">
                            <% for(let i=0;i<1;i++){ %>
                            <div class="product-miniature js-product-miniature item-one col-12 first_item"
                              data-id-product="1" data-id-product-attribute="40" itemscope
                              itemtype="http://schema.org/Product">
                              <div class="thumbnail-container">

                                <!-- <a href="/user_assets/ridestyle/en/mountain-bike/1-40-yeti-sb6-t-series-x01-eagle-275.html#/1-size-s/10-color-red"
                                  class="thumbnail product-thumbnail two-image"> -->
                                  <img class="img-fluid image-cover"
                                    src="admin-assets/imgs/<%= products[i].images[0] %> "
                                    alt=""
                                    data-full-size-image-url="admin-assets/imgs/<%= products[i].images[0] %>"
                                    width="450" height="268">
                                  <img class="img-fluid image-secondary"
                                    src="admin-assets/imgs/<%= products[i].images[0] %>"
                                    alt=""
                                    data-full-size-image-url="<%= products[i]._id %>"
                                    width="450" height="268">
                                </a>




                              </div>

                              <div class="product-groups">
                                <div class="product-description">

                                  <div class="category-title"><a
                                      href="/product?id=<%= products[i]._id%>"Mountain
                                      Bike</a></div>


                                  <div class="product-title" itemprop="name"><a
                                      href="#"> <%= products[i].productName %></a></div>

                                  <div class="group-price d-flex align-items-center justify-content-between">
                                    <div class="product-comments">
                                      <div class="star_content">
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                      </div>
                                      <span>0 review</span>
                                    </div>
                                    <div class="product-group-price">

                                      <div class="product-price-and-shipping">


                                        <span itemprop="price" class="price">₹<%= products[i].regularPrice %>/-</span>




                                      </div>

                                    </div>
                                  </div>
                                </div>
                                <div class="product-buttons d-flex justify-content-center" itemprop="offers" itemscope
                                  itemtype="http://schema.org/Offer">
                                 
                                  <a class="add-to-cart has-text"
                                    href="/product?id=<%= products[i]._id%>"><span>Select
                                      Options</span><i class="fa fa-check"></i></a>
                                 
                                </div>
                              </div>
                            </div>
                            <% } %>
                            <% for(let i=3;i<4;i++){ %>
                              <div class="product-miniature js-product-miniature item-one col-12 first_item"
                                data-id-product="1" data-id-product-attribute="40" itemscope
                                itemtype="http://schema.org/Product">
                                <div class="thumbnail-container">
  
                                  <!-- <a href="/user_assets/ridestyle/en/mountain-bike/1-40-yeti-sb6-t-series-x01-eagle-275.html#/1-size-s/10-color-red"
                                    class="thumbnail product-thumbnail two-image"> -->
                                    <img class="img-fluid image-cover"
                                      src="admin-assets/imgs/<%= products[i].images[0] %> "
                                      alt=""
                                      data-full-size-image-url="admin-assets/imgs/<%= products[i].images[0] %>"
                                      width="450" height="268">
                                    <img class="img-fluid image-secondary"
                                      src="admin-assets/imgs/<%= products[i].images[0] %>"
                                      alt=""
                                      data-full-size-image-url="<%= products[i]._id %>"
                                      width="450" height="268">
                                  </a>
  
  
  
  
                                </div>
  
                                <div class="product-groups">
                                  <div class="product-description">
  
                                    <div class="category-title"><a
                                        href="/product?id=<%= products[i]._id%>"Mountain
                                        Bike</a></div>
  
  
                                    <div class="product-title" itemprop="name"><a
                                        href="#"> <%= products[i].productName %></a></div>
  
                                    <div class="group-price d-flex align-items-center justify-content-between">
                                      <div class="product-comments">
                                        <div class="star_content">
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                        </div>
                                        <span>0 review</span>
                                      </div>
                                      <div class="product-group-price">
  
                                        <div class="product-price-and-shipping">
  
  
                                          <span itemprop="price" class="price">₹<%= products[i].regularPrice %>/-</span>
  
  
  
  
                                        </div>
  
                                      </div>
                                    </div>
                                  </div>
                                  <div class="product-buttons d-flex justify-content-center" itemprop="offers" itemscope
                                    itemtype="http://schema.org/Offer">
                                   
                                    <a class="add-to-cart has-text"
                                      href="/product?id=<%= products[i]._id%>"><span>Select
                                        Options</span><i class="fa fa-check"></i></a>
                                   
                                  </div>
                                </div>
                              </div>
                              <% } %>
                          </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-4 effect text-center mt-xs-30 mb-xs-30">
                          <% for(let i=4;i<5;i++){ %>
                          <a href="/product?id=<%= products[i]._id%>"><img class="img-fluid"
                              src="user_assets/userImages/f31c9a8c7f73788665b42392da595334.jpg" alt="Ride In Style"
                              title="Ride In Style"></a>
                              <% } %>
                        </div>
                        <div class="col-12 col-lg-4 col-md-4 product-right text-center">
                          <div class="row">
                            <% for(let i=1;i<2;i++){ %>
                              <div class="product-miniature js-product-miniature item-one col-12 first_item"
                                data-id-product="1" data-id-product-attribute="40" itemscope
                                itemtype="http://schema.org/Product">
                                <div class="thumbnail-container">
  
                                  <!-- <a href="/user_assets/ridestyle/en/mountain-bike/1-40-yeti-sb6-t-series-x01-eagle-275.html#/1-size-s/10-color-red"
                                    class="thumbnail product-thumbnail two-image"> -->
                                    <img class="img-fluid image-cover"
                                      src="admin-assets/imgs/<%= products[i].images[0] %> "
                                      alt=""
                                      data-full-size-image-url="admin-assets/imgs/<%= products[i].images[0] %>"
                                      width="450" height="268">
                                    <img class="img-fluid image-secondary"
                                      src="admin-assets/imgs/<%= products[i].images[0] %>"
                                      alt=""
                                      data-full-size-image-url="<%= products[i]._id %>"
                                      width="450" height="268">
                                  </a>
  
  
  
  
                                </div>
  
                                <div class="product-groups">
                                  <div class="product-description">
  
                                    <div class="category-title"><a
                                        href="/product?id=<%= products[i]._id%>"Mountain
                                        Bike</a></div>
  
  
                                    <div class="product-title" itemprop="name"><a
                                        href="#"> <%= products[i].productName %></a></div>
  
                                    <div class="group-price d-flex align-items-center justify-content-between">
                                      <div class="product-comments">
                                        <div class="star_content">
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                          <div class="star"></div>
                                        </div>
                                        <span>0 review</span>
                                      </div>
                                      <div class="product-group-price">
  
                                        <div class="product-price-and-shipping">
  
  
                                          <span itemprop="price" class="price">₹<%= products[i].regularPrice %>/-</span>
  
  
  
  
                                        </div>
  
                                      </div>
                                    </div>
                                  </div>
                                  <div class="product-buttons d-flex justify-content-center" itemprop="offers" itemscope
                                    itemtype="http://schema.org/Offer">
                                   
                                    <a class="add-to-cart has-text"
                                      href="/product?id=<%= products[i]._id%>"><span>Select
                                        Options</span><i class="fa fa-check"></i></a>
                                   
                                  </div>
                                </div>
                              </div>
                              <% } %>
                              <% for(let i=2;i<3;i++){ %>
                                <div class="product-miniature js-product-miniature item-one col-12 first_item"
                                  data-id-product="1" data-id-product-attribute="40" itemscope
                                  itemtype="http://schema.org/Product">
                                  <div class="thumbnail-container">
    
                                    <!-- <a href="/user_assets/ridestyle/en/mountain-bike/1-40-yeti-sb6-t-series-x01-eagle-275.html#/1-size-s/10-color-red"
                                      class="thumbnail product-thumbnail two-image"> -->
                                      <img class="img-fluid image-cover"
                                        src="admin-assets/imgs/<%= products[i].images[0] %> "
                                        alt=""
                                        data-full-size-image-url="admin-assets/imgs/<%= products[i].images[0] %>"
                                        width="450" height="268">
                                      <img class="img-fluid image-secondary"
                                        src="admin-assets/imgs/<%= products[i].images[0] %>"
                                        alt=""
                                        data-full-size-image-url="<%= products[i]._id %>"
                                        width="450" height="268">
                                    </a>
    
    
    
    
                                  </div>
    
                                  <div class="product-groups">
                                    <div class="product-description">
    
                                      <div class="category-title"><a
                                          href="/product?id=<%= products[i]._id%>"Mountain
                                          Bike</a></div>
    
    
                                      <div class="product-title" itemprop="name"><a
                                          href="#"> <%= products[i].productName %></a></div>
    
                                      <div class="group-price d-flex align-items-center justify-content-between">
                                        <div class="product-comments">
                                          <div class="star_content">
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                            <div class="star"></div>
                                          </div>
                                          <span>0 review</span>
                                        </div>
                                        <div class="product-group-price">
    
                                          <div class="product-price-and-shipping">
    
    
                                            <span itemprop="price" class="price">₹<%= products[i].regularPrice %>/-</span>
    
    
    
    
                                          </div>
    
                                        </div>
                                      </div>
                                    </div>
                                    <div class="product-buttons d-flex justify-content-center" itemprop="offers" itemscope
                                      itemtype="http://schema.org/Offer">
                                     
                                      <a class="add-to-cart has-text"
                                        href="/product?id=<%= products[i]._id%>"><span>Select
                                          Options</span><i class="fa fa-check"></i></a>
                                     
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="nov-row testimonial-home " data-nov-full-width="true">
                <div class="background-row"
                  style="background-image: url(/user_assets/ridestyle/modules/novpagemanage/img/0c677a77f148e7decf25c6e32691d5b6.jpg);background-repeat: no-repeat; background-position: center;">
                </div>
                <div class="nov-row-wrap row">
                  <div class="nov-modules col-xl-12 col-lg-12 col-md-12 ">
                    <div class="block nov-wrap">
                      <div class="block-content-testimonial">
                        <div id="testimonial_block" class="owl-carousel owl-theme testimonial-type-two"
                          data-autoplay="false" data-autoplaytimeout="7000" data-loop="true" data-margin="30"
                          data-dots="true" data-nav="false" data-items="2" data-items_large="1" data-items_tablet="1"
                          data-items_mobile="1">
                          <div class="item type-two d-flex align-items-center">
                            <div class="box-content-thumb">
                              <a href="#">
                                <img class="img-fluid testimonial-avarta"
                                  src="user_assets/userImages/7906b3be5e781ec344ca95c25c3aa666.jpg" alt="Michale Jave">

                              </a>
                            </div>
                            <div class="testimonial-content">
                              <div class="testimonial-info">
                                <h5 class="mt-0 box-info">Michale Jave</h5>
                                <span class="box-company">Vinova Theme</span>
                              </div>
                              <div class="text">
                                <p> "Best Bike Purchase Ever!"
                                   "I recently bought the XYZ bike, and it's been an absolute game-changer. The build quality is fantastic, the gears shift smoothly, and it's incredibly lightweight. I've never enjoyed cycling this much. Highly recommended!"</p>
                              </div>
                            </div>
                          </div>
                          <div class="item type-two d-flex align-items-center">
                            <div class="box-content-thumb">
                              <a href="#">
                                <img class="img-fluid testimonial-avarta"
                                  src="user_assets/userImages/d80cd6577cad2c96083ac5515777970a.jpg" alt="Anissa Rose">

                              </a>
                            </div>
                            <div class="testimonial-content">
                              <div class="testimonial-info">
                                <h5 class="mt-0 box-info">Anissa Rose</h5>
                                <span class="box-company">Ui/Ux Designer</span>
                              </div>
                              <div class="text">
                                <p> "Great Bike with Room for Improvement"
                                   "The ABC bike is solid, and I love the design. However, the seat could use more padding for longer rides. Also, the instructions for assembly could be clearer. Overall, a good bike with a few tweaks needed."</p>
                              </div>
                            </div>
                          </div>
                          <div class="item type-two d-flex align-items-center">
                            <div class="box-content-thumb">
                              <a href="#">
                                <img class="img-fluid testimonial-avarta"
                                  src="/user_assets/ridestyle/modules/novtestimonials/images/6fdae56c2ab2aa5feb7e44203a2b5ade.jpg"
                                  alt="Maria Mia">

                              </a>
                            </div>
                            <div class="testimonial-content">
                              <div class="testimonial-info">
                                <h5 class="mt-0 box-info">Maria Mia</h5>
                                <span class="box-company">Front-End Developer</span>
                              </div>
                              <div class="text">
                                <p> "Impressive Speed and Maneuverability!"
                                   "The LMN bike's aerodynamic design and lightweight frame make it incredibly fast and easy to maneuver. I've set personal speed records with this bike. If speed is your priority, this is the one!"</p>
                              </div>
                            </div>
                          </div>
                          <div class="item type-two d-flex align-items-center">
                            <div class="box-content-thumb">
                              <a href="#">
                                <img class="img-fluid testimonial-avarta"
                                  src="user_assets/ridestyle/modules/novtestimonials/images/4de68c0cac860f91e006d25f58e1b9f2.jpg"
                                  alt="Roberto Nickson">

                              </a>
                            </div>
                            <div class="testimonial-content">
                              <div class="testimonial-info">
                                <h5 class="mt-0 box-info">Roberto Nickson</h5>
                                <span class="box-company">Back-End Developer</span>
                              </div>
                              <div class="text">
                                <p>"Impressive Speed and Maneuverability!"
                                   "The LMN bike's aerodynamic design and lightweight frame make it incredibly fast and easy to maneuver. I've set personal speed records with this bike. If speed is your priority, this is the one!"</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="nov-row brand-home " data-nov-full-width="true">
                <div class="nov-row-wrap row">
                  <div class="nov-manufacture  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="block">
                      <div class="block_content">
                        <div id="manufacture718900310" class="manufacture owl-carousel owl-theme owl-loaded owl-drag"
                          data-autoplay="true" data-autoplaytimeout="2000" data-loop="true" data-dots="false"
                          data-nav="false" data-margin="30" data-items="6" data-items_large="4" data-items_tablet="3"
                          data-items_mobile="2">
                          <div class="item">
                            <div class="logo-manu  first_item">
                              <a href="#" title="view products">
                                <img class="img-fluid" src="user_assets/userImages/m/5-manu_default.jpg"
                                  alt="logo-manu" /></a>
                            </div>
                          </div>
                          <div class="item">
                            <div class="logo-manu  first_item">
                              <a href="#" title="view products">
                                <img class="img-fluid" src="user_assets/userImages/m/4-manu_default.jpg"
                                  alt="logo-manu" /></a>
                            </div>
                          </div>
                          <div class="item">
                            <div class="logo-manu  first_item">
                              <a href="#" title="view products">
                                <img class="img-fluid" src="user_assets/userImages/m/1-manu_default.jpg"
                                  alt="logo-manu" /></a>
                            </div>
                          </div>
                          <div class="item">
                            <div class="logo-manu  first_item">
                              <a href="#" title="view products">
                                <img class="img-fluid" src="user_assets/userImages/m/2-manu_default.jpg"
                                  alt="logo-manu" /></a>
                            </div>
                          </div>
                          <div class="item">
                            <div class="logo-manu  first_item">
                              <a href="#" title="view products">
                                <img class="img-fluid" src="user_assets/userImages/m/3-manu_default.jpg"
                                  alt="logo-manu" /></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nov_row-full-width clearfix w-100"></div>
            </div>
        </div>
        </section>

        <footer class="footer footer-one">

          <div class="inner-footer">
              <div class="container">
                  <div class="row">
                      <div class="nov-row footer-top " data-nov-full-width="true">
                          <div class="nov-row-wrap row">
                              <div class="nov-html col-xl-4 col-lg-4 col-md-4 col-md-8">
                                  <div class="block">
                                      <div class="block_content">
                                          <div class="custom-text-logo">
                                              <div class="text-logo"><a href="#/"> <span>TIREX</span> </a></div>
                                          </div>
                                          <div class="custom-information info-contact-footer ">
                                         
                                              <ul class="list-none smoke">
                                                  <li><i class="fa fa-phone"></i>1-688-123-44567</li>
                                                  <li><i class="fa fa-map-marker"></i>690 South Meadow Dr. Meadville,
                                                      PA 16335</li>
                                                  <li><i class="fa fa-envelope-o"></i><a
                                                          href="#">Support@domain.com</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="nov-html col-xl-2 col-lg-2 col-md-2 col-md-4">
                                  <div class="block">
                                      <div class="title_block">
                                          About Us
                                      </div>
                                      <div class="block_content">
                                          <ul class="list-menu-footer">
                                              <li><a href="#">About Us</a></li>
                                              <li><a href="#">Contact Us</a></li>
                                              <li><a href="#">Blog</a></li>
                                              <li><a href="#">Order history</a></li>
                                              <li><a href="#">Terms & Condition</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="nov-html col-xl-2 col-lg-2 col-md-2 col-md-4 mt-sm-30">
                                  <div class="block">
                                      <div class="title_block">
                                          CUSTOMER SERVICE
                                      </div>
                                      <div class="block_content">
                                          <ul class="&quot;list-menu-footer">
                                              <li><a href="#">Shipping Policy</a></li>
                                              <li><a href="#">Compensation First</a></li>
                                              <li><a href="#">Delivery Information</a></li>
                                              <li><a href="#">F.A.Q.'s</a></li>
                                              <li><a href="#">Careers</a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="nov-modules col-xl-4 col-lg-4 col-md-4 newsletter-home col-md-8 mt-sm-30">
                                  <div class="block nov-wrap">
                                      <div class="title_block">Newsletter</div>
                                      <div class="block_newsletter">

                                          <form action="">
                                              <div class="input-group">
                                                  <input type="text" class="form-control" name="email" value=""
                                                      placeholder="Enter Your Email!">
                                                  <span class="input-group-btn">
                                                      <button class="btn btn-secondary" name="submitNewsletter"
                                                          type="button">Subscribe</button>
                                                  </span>
                                              </div>
                                              <input type="hidden" name="action" value="0">
                                          </form>

                                          <div class="content-text-newsletter">
                                              <p>Sign up get 20% sale off for first time, Get all the latest deals and
                                                  special offers, first.</p>
                                          </div>
                                          <div class="social-content d-flex align-items-center">
                                              <span> Follow us: </span>
                                              <ul class="list-inline d-flex mb-0">
                                                  <li class="list-inline-item"><a class="facebook" href="#"
                                                          target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                                                  <li class="list-inline-item"><a class="twitter" href="#"
                                                          target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                                                  <li class="list-inline-item"><a class="youtube" href="#"
                                                          target="_blank"><i class="zmdi zmdi-youtube-play"></i></a>
                                                  </li>
                                                  <li class="list-inline-item"><a class="instagram" href="#"
                                                          target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="nov_row-full-width clearfix w-100"></div>
          <div class="links">
          </div>
          </div>
          </div>
          </div>
          <div id="nov-copyright">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-md-6 text-copyright">
                          <span>
                              Copyright © 2019 <span>Vinovatheme Ltd</span>. All Rights Reserved. Designed by
                              <span>Vinovatheme</span>
                          </span>
                      </div>
                      <div class="col-md-6 image-payment text-md-right text-center mt-xs-20 mb-xs-10">
                          <img class="img-fluid" src="user_assets/ridestyle/modules/novthemeconfig/images/payment-2.png"
                              alt="payment" title="Payment" />
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <div class="canvas-overlay"></div>

      <div id="_desktop_back_top">
          <div id="back-top">
              <span>
                  <i class="fa fa-long-arrow-up"></i>
              </span>
              <span class="text">On Top</span>
          </div>
      </div>
  </main>


  <div id="mobile_top_menu_wrapper" class="hidden-md-up">
      <div class="content">
          <div id="_mobile_verticalmenu"></div>
      </div>
  </div>


  <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up">
      <div class="content-boxpage col">
          <div class="box-header d-flex justify-content-between align-items-center">
              <div class="title-box">Menu</div>
              <div class="close-box">Close</div>
          </div>
          <div class="box-content">
              <div id="_mobile_top_menu" class="js-top-menu"></div>
          </div>
      </div>
  </div>
  <div id="mobile-blockcart" class="mobile-boxpage d-flex hidden-md-up">
      <div class="content-boxpage col">
          <div class="box-header d-flex justify-content-between align-items-center">
              <div class="title-box">Cart</div>
              <div class="close-box">Close</div>
          </div>
          <div id="_mobile_cart" class="box-content"></div>
      </div>
  </div>
  <div id="mobile-pageaccount" class="mobile-boxpage d-flex hidden-md-up" data-titlebox-parent="Account">
      <div class="content-boxpage col">
          <div class="box-header d-flex justify-content-between align-items-center">
              <div class="back-box">Back</div>
              <div class="title-box">Account</div>
              <div class="close-box">Close</div>
          </div>
          <div class="box-content d-flex justify-content-center align-items-center text-center">
              <div>
                  <ul id="_mobile_account-list-content" class="account-list-content"></ul>
              </div>
          </div>
          <div id="box-currency" class="box-content d-flex">
              <div class="w-100">
                  <div class="item-currency">
                      <a title="Euro" rel="nofollow"
                          href="user_assets/ridestyle/en/mountain-bike/1-yeti-sb6-t-series-x01-eagle-275.html?SubmitCurrency=1&amp;id_currency=2">Euro:
                          EUR</a>
                  </div>
                  <div class="item-currency current">
                      <a title="US Dollar" rel="nofollow"
                          href="user_assets/ridestyle/en/mountain-bike/1-yeti-sb6-t-series-x01-eagle-275.html?SubmitCurrency=1&amp;id_currency=1">US
                          Dollar: USD</a>
                  </div>
              </div>
          </div>

          <div id="box-language" class="box-content d-flex">
              <div class="w-100">
                  <div class="item-language current">
                      <a href="user_assets/ridestyle/en/mountain-bike/1-yeti-sb6-t-series-x01-eagle-275.html"
                          class="d-flex align-items-center"><img class="img-fluid mr-2" src="/ridestyle/img/l/1.jpg"
                              alt="English (English)" width="16" height="11" /><span>English</span></a>
                  </div>
                  <div class="item-language">
                      <a href="user_assets/ridestyle/fr/home-accessories/1-hummingbird-printed-t-shirt.html"
                          class="d-flex align-items-center"><img class="img-fluid mr-2" src="/ridestyle/img/l/2.jpg"
                              alt="Français (French)" width="16" height="11" /><span>Français</span></a>
                  </div>
                  <div class="item-language">
                      <a href="user_assets/ridestyle/es/mountain-bike/1-yeti-sb6-t-series-x01-eagle-275.html"
                          class="d-flex align-items-center"><img class="img-fluid mr-2" src="/ridestyle/img/l/3.jpg"
                              alt="Español (Spanish)" width="16" height="11" /><span>Español</span></a>
                  </div>
                  <div class="item-language">
                      <a href="user_assets/ridestyle/it/mountain-bike/1-yeti-sb6-t-series-x01-eagle-275.html"
                          class="d-flex align-items-center"><img class="img-fluid mr-2" src="/ridestyle/img/l/4.jpg"
                              alt="Italiano (Italian)" width="16" height="11" /><span>Italiano</span></a>
                  </div>
                  <div class="item-language">
                      <a href="user_assets/ridestyle/pl/mountain-bike/1-yeti-sb6-t-series-x01-eagle-275.html"
                          class="d-flex align-items-center"><img class="img-fluid mr-2" src="/ridestyle/img/l/5.jpg"
                              alt="Polski (Polish)" width="16" height="11" /><span>Polski</span></a>
                  </div>
                  <div class="item-language">
                      <a href="user_assets/ridestyle/ar/mountain-bike/1-yeti-sb6-t-series-x01-eagle-275.html"
                          class="d-flex align-items-center"><img class="img-fluid mr-2" src="/ridestyle/img/l/6.jpg"
                              alt="اللغة العربية (Arabic)" width="16" height="11" /><span>اللغة العربية</span></a>
                  </div>
              </div>
          </div>

      </div>
  </div>


  <div id="stickymenu_bottom_mobile">
      <div class="row align-items-center justify-content-center hidden-md-up text-center no-gutters">
          <div class="stickymenu-item col">
              <a href="/home"><i class="icon-house"></i><span>Home</span></a>
          </div>
          <div class="stickymenu-item col">
              <a href="/shoppage"><i
                      class="zmdi zmdi-store"></i><span>Shop</span></a>
          </div>
          <div class="stickymenu-item col">
             <a href="/cart"> <div id="_mobile_cart_bottom" class="nov-toggle-page" data-target="#mobile-blockcart"></div></a>
          </div>
          <div class="stickymenu-item col">
              <a href="#" class="nov-toggle-page" data-target="#mobile-pageaccount"><i
                      class="icon-settings"></i><span>Setting</span></a>
          </div>
          <div class="stickymenu-item col">
              <div id="_mobile_back_top"></div>
          </div>
      </div>
  </div>



  <div class="modal-login modal fade">
      <div class="modal-dialog modal-dialog-centered">

          <div class="block-form-login">
              <section class="login-form">
                  <div class="page_title_account text-center">Login</div>
                  <div class="block-sociallogin text-center">
                      <div class="title_sociallogin">Login using social network:</div>
                      <div class="content_sociallogin row spacing-10">
                          <div class="col">
                              <a onclick="SocialPopup('//demo.bestprestashoptheme.com/ridestyle/en/module/novloginsocial/authenticate?provider=facebook&page=authentication')"
                                  class="btn btn-sociallogin-facebook col">
                                  <i class="zmdi zmdi-facebook"></i>
                                  Facebook
                              </a>
                          </div>

                          <div class="col">
                              <a onclick="SocialPopup('//demo.bestprestashoptheme.com/ridestyle/en/module/novloginsocial/authenticate?provider=twitter&page=authentication')"
                                  class="btn btn-sociallogin-twitter col">
                                  <i class="zmdi zmdi-twitter"></i>
                                  Twitter
                              </a>
                          </div>

                          <div class="col">
                              <a onclick="SocialPopup('//demo.bestprestashoptheme.com/ridestyle/en/module/novloginsocial/authenticate?provider=google&page=authentication')"
                                  class="btn btn-sociallogin-google col">
                                  <i class="zmdi zmdi-google-old"></i>
                                  Google
                              </a>
                          </div>
                      </div>
                  </div>

                  <p class="text-center mb-15">Or Insert your account information:</p>




                  <div class="row no-gutters">
                      <div class="col-md-10 offset-md-2">
                      </div>
                  </div>


                  <form id="login-form-popup"
                      action="/user_assets/ridestyle/en/login?back=user_assets/ridestyle/en/?home=home_1&amp;SubmitCurrency=1&amp;id_currency=1"
                      method="post">

                      <section>



                          <input type="hidden" name="back" value="">




                          <div class="form-group row no-gutters novform-email">
                              <label class="col-md-2 form-control-label required">
                                  Email
                              </label>
                              <div class="col-md-8">

                                  <input class="form-control" name="email" type="email" value="" placeholder="Email"
                                      required>


                              </div>

                              <div class="col-md-2 form-control-comment right">
                              </div>
                          </div>




                          <div class="form-group row no-gutters novform-password">
                              <label class="col-md-2 form-control-label required">
                                  Password
                              </label>
                              <div class="col-md-8">

                                  <div class="input-group js-parent-focus">
                                      <input class="form-control js-child-focus js-visible-password" name="password"
                                          type="password" value="" placeholder="Password" pattern=".{5,}" required>
                                      <span class="input-group-btn">
                                          <button class="btn" type="button" data-action="show-password"
                                              data-text-show="<i class='zmdi zmdi-eye-off'></i>"
                                              data-text-hide="<i class='zmdi zmdi-eye'></i>">
                                              <i class='zmdi zmdi-eye-off'></i>
                                          </button>
                                      </span>
                                  </div>

                              </div>

                              <div class="col-md-2 form-control-comment right">
                              </div>
                          </div>




                          <div class="forgot-password text-center mt-25 mb-25">
                              <i class="zmdi zmdi-email"></i>&nbsp;
                              Forgot your&nbsp;
                              <a href="/user_assets/ridestyle/en/password-recovery" rel="nofollow">
                                  <span>Password</span>&nbsp;?
                              </a>
                          </div>
                      </section>


                      <footer class="form-footer clearfix">
                          <div class="row no-gutters">
                              <div class="col-md-10 offset-md-2">
                                  <input type="hidden" name="submitLogin" value="1">

                                  <button class="btn btn-primary" data-link-action="sign-in" type="submit"
                                      class="form-control-submit">
                                      Login
                                  </button>

                              </div>
                          </div>
                      </footer>


                  </form>

              </section>



              <div class="no-account">
                  <a class="font-weight-bold" href="/user_assets/ridestyle/en/login?create_account=1"
                      data-link-action="display-register-form">
                      No account? Create one here
                  </a>
              </div>
          </div>

      </div>
  </div>

  <style>
      body {
          font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
  </style>




  <script type="text/javascript"
    src="user_assets/ridestyle/themes/vinova_ridestyle/assets/cache/bottom-4fd30440.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">









  <div id="fb-root"></div>

  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>

</html>