<!--Website: wwww.codingdung.com-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIREX | profile</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="user_assets/userprofile.css">

    <link rel="stylesheet" href="/user_assets/ridestyle/themes/vinova_ridestyle/assets/cache/theme-699bbe41.css"
        type="text/css" media="all">

    <link rel="icon" type="image/vnd.microsoft.icon"
        href="/public/user_assets/ridestyle/themes/vinova_ridestyle/assets/img/icon">
    <link rel="shortcut icon" type="image/x-icon" href="/user_assets/ridestyle/img/favicon.ico@1324977642">
    <link rel="icon" type="image/png" href="/user_assets/ridestyle/img/favicon.ico@1324977642">


    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">


    <link rel="stylesheet" href="/user_assets/ridestyle/themes/vinova_ridestyle/assets/cache/theme-699bbe41.css"
        type="text/css" media="all">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
</head>



<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>
<style>
    #cart-subtotal-shipping {
        display: none;
    }

    .cart-content p:nth-child(3n) {
        display: none;
    }

    .summary-selected-carrier .carrier-delay {
        display: none;
    }
</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>

<style type="text/css">
    #main-site {
        background-color: #ffffff;
    }

    @media (min-width: 1200px) {
        .container {
            width: 1200px;
        }

        #header .container {
            width: 1200px;
        }

        .footer .container {
            width: 1200px;
        }

        #index .container {
            width: 1200px;
        }
    }

    #popup-subscribe .modal-dialog .modal-content {
        background-image: url(user_assets/ridestyle/modules/novthemeconfig/images/newsletter_bg.jpg);
    }
</style>





<body>



    <script type="text/javascript">
        var baseDir = "\/ridestyle\/";
        var isLogged = false;
        var isLoggedWishlist = false;
        var prestashop = { "cart": { "products": [], "totals": { "total": { "type": "total", "label": "Total", "amount": 0, "value": "$0.00" }, "total_including_tax": { "type": "total", "label": "Total (tax incl.)", "amount": 0, "value": "$0.00" }, "total_excluding_tax": { "type": "total", "label": "Total (tax excl.)", "amount": 0, "value": "$0.00" } }, "subtotals": { "products": { "type": "products", "label": "Subtotal", "amount": 0, "value": "$0.00" }, "discounts": null, "shipping": { "type": "shipping", "label": "Shipping", "amount": 0, "value": "Free" }, "tax": { "type": "tax", "label": "Taxes", "amount": 0, "value": "$0.00" } }, "products_count": 0, "summary_string": "0 items", "vouchers": { "allowed": 0, "added": [] }, "discounts": [], "minimalPurchase": 0, "minimalPurchaseRequired": "" }, "currency": { "name": "US Dollar", "iso_code": "USD", "iso_code_num": "840", "sign": "$" }, "customer": { "lastname": null, "firstname": null, "email": null, "birthday": null, "newsletter": null, "newsletter_date_add": null, "optin": null, "website": null, "company": null, "siret": null, "ape": null, "is_logged": false, "gender": { "type": null, "name": null }, "addresses": [] }, "language": { "name": "English (English)", "iso_code": "en", "locale": "en-US", "language_code": "en-us", "is_rtl": "0", "date_format_lite": "m\/d\/Y", "date_format_full": "m\/d\/Y H:i:s", "id": 1 }, "page": { "title": "", "canonical": null, "meta": { "title": "Prestashop_RideStyle", "description": "Shop powered by PrestaShop", "keywords": "", "robots": "index" }, "page_name": "index", "body_classes": { "lang-en": true, "lang-rtl": false, "country-US": true, "currency-USD": true, "layout-full-width": true, "page-index": true, "tax-display-disabled": true }, "admin_notifications": [] }, "shop": { "name": "Prestashop_RideStyle", "logo": "\/ridestyle\/img\/logo.png", "stores_icon": "\/ridestyle\/img\/logo_stores.png", "favicon": "\/ridestyle\/img\/favicon.ico" }, "urls": { "base_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/", "current_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/?home=home_1&SubmitCurrency=1&id_currency=1", "shop_domain_url": "https:\/\/demo.bestprestashoptheme.com", "img_ps_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/", "img_cat_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/c\/", "img_lang_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/l\/", "img_prod_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/", "img_manu_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/m\/", "img_sup_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/su\/", "img_ship_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/s\/", "img_store_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/st\/", "img_col_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/co\/", "img_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/themes\/vinova_ridestyle\/assets\/img\/", "css_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/themes\/vinova_ridestyle\/assets\/css\/", "js_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/themes\/vinova_ridestyle\/assets\/js\/", "pic_url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/upload\/", "pages": { "address": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/address", "addresses": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/addresses", "authentication": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/login", "cart": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/cart", "category": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=category", "cms": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=cms", "contact": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/contact-us", "discount": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/discount", "guest_tracking": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/guest-tracking", "history": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order-history", "identity": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/identity", "index": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/", "my_account": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/my-account", "order_confirmation": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order-confirmation", "order_detail": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=order-detail", "order_follow": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order-follow", "order": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order", "order_return": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=order-return", "order_slip": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/credit-slip", "pagenotfound": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/page-not-found", "password": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/password-recovery", "pdf_invoice": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=pdf-invoice", "pdf_order_return": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=pdf-order-return", "pdf_order_slip": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=pdf-order-slip", "prices_drop": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/prices-drop", "product": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/index.php?controller=product", "search": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/search", "sitemap": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/sitemap", "stores": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/stores", "supplier": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/supplier", "register": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/login?create_account=1", "order_login": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/order?login=1" }, "alternative_langs": { "en-us": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/?home=home_1&SubmitCurrency=1&id_currency=1", "fr-fr": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/fr\/?home=home_1&SubmitCurrency=1&id_currency=1", "es-es": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/es\/?home=home_1&SubmitCurrency=1&id_currency=1", "it-it": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/it\/?home=home_1&SubmitCurrency=1&id_currency=1", "pl-pl": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/pl\/?home=home_1&SubmitCurrency=1&id_currency=1", "ar-sa": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/ar\/?home=home_1&SubmitCurrency=1&id_currency=1" }, "theme_assets": "\/ridestyle\/themes\/vinova_ridestyle\/assets\/", "actions": { "logout": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/?mylogout=" }, "no_picture_image": { "bySize": { "small_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-small_default.jpg", "width": 125, "height": 74 }, "cart_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-cart_default.jpg", "width": 125, "height": 125 }, "medium_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-medium_default.jpg", "width": 370, "height": 220 }, "home_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-home_default.jpg", "width": 450, "height": 268 }, "large_default": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-large_default.jpg", "width": 570, "height": 339 } }, "small": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-small_default.jpg", "width": 125, "height": 74 }, "medium": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-medium_default.jpg", "width": 370, "height": 220 }, "large": { "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/img\/p\/en-default-large_default.jpg", "width": 570, "height": 339 }, "legend": "" } }, "configuration": { "display_taxes_label": false, "is_catalog": false, "show_prices": true, "opt_in": { "partner": true }, "quantity_discount": { "type": "price", "label": "Price" }, "voucher_enabled": 0, "return_enabled": 0 }, "field_required": [], "breadcrumb": { "links": [{ "title": "Home", "url": "https:\/\/demo.bestprestashoptheme.com\/ridestyle\/en\/" }], "count": 1 }, "link": { "protocol_link": "https:\/\/", "protocol_content": "https:\/\/" }, "time": 1693838046, "static_token": "9d691e438ad3bb533a2a9a0ac6fec67f", "token": "4aa7460c85dac8f063b8f1681141bc80" };
        var search_url = "https:\/\/user_asset\/ridestyle\/en\/search";
        var static_token = "9d691e438ad3bb533a2a9a0ac6fec67f";
        var wishlistProductsIdsobject = [];
    </script>

    <body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled
   displayhomenovone">



        <main id="main-site">




            <header id="header" class="header-1">





                <div class="header-top hidden-sm-down group-sticky" style="background-color:black;">
                  <div class="container">
                    <div class="row d-flex align-items-center content-header-top">
                      <div class="col-xl-8 col-lg-7 col-md-9 d-flex align-items-center justify-content-between header-top-left">
                        <div id="_desktop_logo" class="contentsticky_logo d-flex align-items-center justify-content-start">
                          <a href="/home">
                            <img class="logo img-fluid" src="user_assets/userImages/logo-1.png" alt="RIDEX">
                          </a>
                        </div>
        
                        <div id="_desktop_top_menu">
                          <nav id="nov-megamenu" class="clearfix">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div id="megamenu" class="nov-megamenu clearfix">
                              <ul class="menu level1">
                                <li class="item home-page has-sub"><span class="opener"></span><a href="/home" title="Home"><i
                                      class="zmdi zmdi-home"></i>Home</a>
        
                                </li>
                                <li class="item category-mega group"><span class="opener"></span><a href="/shoppage"
                                    title="Shop"><i class="zmdi zmdi-tag"></i>Shop</a>
                                </li>
                               
                         
                                <li class="item "><a href="" title="Contact us"><i class="zmdi zmdi-phone"></i>Contact us</a>
                                </li>
                                <li class="item "><a href="#" title="ABOUT"><i class="zmdi zmdi-accounts"></i>ABOUT</a></li>
                              </ul>
                            </div>
                          </nav>
                        </div>
        
                      </div>
                      <div class="col-xl-4 col-lg-5 col-md-3 d-flex align-items-center justify-content-end header-top-right">
                        <div class="contentsticky_group d-flex align-items-center justify-content-end ">
                          <div class="contentsticky_search d-flex">
                            <!-- block seach mobile -->
                            <!-- Block search module TOP -->
                           
                            <!-- /Block search module TOP -->
        
                          </div>
                          <div id="nov_block_myaccount_infos"
                            class="contentsticky_account hidden-sm-down dropdown header_link_myaccount">
                            <div class="myaccount-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false" role="main">
                              <i class="fa fa-user"></i>
                            </div>
                            <div class="account-list dropdown-menu">
                              <ul class="account-list-content" id="_desktop_account-list-content">
                                <% if(!userid){ %>
                                <li>
                                  <a class="account" href="/userprofile" rel="nofollow"
                                    title="Log in to your customer account"><i class="fa fa-cog"></i><span>My
                                      Account</span></a>
                                </li>
                                <% } %>
                                <% if(!userid){ %>
                                <li>
                                  <a class="login" href="/login" rel="nofollow" title="Log in to your customer account"><i
                                      class="fa fa-sign-in"></i><span>Log
                                      in</span></a>
                                </li>
                                <% } %>
                                <li>
                                  <a class="logout" href="/logout" rel="nofollow" title="Log me out"><i
                                      class="fa fa-sign-out"></i><span>Log out</span></a>
                                </li>
                                <% if(!userid){ %>
                                <li>
                                  <a class="register" href="/userSignup " rel="nofollow" title="Register Account"><i
                                      class="fa fa-user"></i><span>Register</span></a>
                                </li>
                                <% } %>
                                
                                <!-- <li class="link_wishlist">
                                  <a href="/user_assets/ridestyle/en/module/novblockwishlist/mywishlist" title="My Wishlists">
                                    <i class="fa fa-heart"></i><span>My Wishlists</span>
                                  </a>
                                </li> -->
        
                              </ul>
                            </div>
                          </div>
                          <a href="/cart">
                          <div class="contentsticky_cart">
                            <div id="_desktop_cart">
                              <div class="blockcart cart-preview"
                                data-refresh-url="/user_assets/ridestyle/en/module/ps_shoppingcart/ajax">
                                <div class="header-cart">
                                  <div class="header-cart-icon">
                                    <span class="cart-products-count"></span>
                                    <i class="fa fa-shopping-cart"></i>
                                  </div>
                                </div></a>
        
                                <div class="cart_block ">
                                  <!-- <div class="no-items">
                                    No products in the cart
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
        
        
                          <!-- <div id="_desktop_currency_selector" class="currency-selector groups-selector hidden-sm-down">
                          <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            role="main">
                            <span class="expand-more">USD</span>
                          </div>
                          <div class="currency-list dropdown-menu">
                            <div class="currency-list-content groups-selector-list-content">
                              <div class="currency-item item-list">
                                <a title="Euro" rel="nofollow"
                                  href="/user_assets/ridestyle/en/?home=home_1&amp;SubmitCurrency=1&amp;id_currency=1&amp;SubmitCurrency=1&amp;id_currency=2">€
                                  EUR</a>
                              </div>
                              <div class="currency-item item-list current flex-first">
                                <a title="US Dollar" rel="nofollow"
                                  href="/user_assets/ridestyle/en/?home=home_1&amp;SubmitCurrency=1&amp;id_currency=1&amp;SubmitCurrency=1&amp;id_currency=1">$
                                  USD</a>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
              </header>
            <div id="displayTop" class="displaytopone">
                <div class="container">
                    <div class="row">
                        <div class="nov-row  nov_row-no-padding " data-nov-full-width="true"
                            data-nov-stretch-content="true">
                            <div class="nov-row-wrap row">
                                <div id="nov-slider" class="slider-wrapper theme-default col-xl-12 col-md-12"
                                    data-effect="random" data-slices="15" data-animSpeed="500" data-pauseTime="10000"
                                    data-startSlide="1" data-directionnav="true" data-controlNav="false"
                                    data-controlNavThumbs="false" data-pauseOnHover="true" data-manualAdvance="false"
                                    data-randomStart="false">
                                    <div class="nov_preload">
                                        <div class="process-loading active">
                                            <div class="loader">
                                                <div class="dot"></div>
                                                <div class="dot"></div>
                                                <div class="dot"></div>
                                                <div class="dot"></div>
                                                <div class="dot"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nivoSlider">
                                        <a href="#">
                                            <img src="" alt="" title="#htmlcaption_27" />
                                        </a>
                                        <a href="#">
                                            <img src="" alt="" title="#htmlcaption_28" />
                                        </a>
                                        <a href="#">
                                            <img src="" alt="" title="#htmlcaption_29" />
                                        </a>

                                    </div>
                                    <div id="htmlcaption_27" class="nivo-html-caption">
                                        <div class="nov-slider-ct">
                                            <div class="nov-center slider-none">
                                                <div class="nov-title effect-2">
                                                    Slider Home1 01
                                                </div>
                                                <div class="nov-description effect-7">
                                                    <p>Slider Home1 01</p>
                                                </div>
                                                <div class="nov-html effect-9">
                                                    <p>Slider Home1 01</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="htmlcaption_28" class="nivo-html-caption">
                                        <div class="nov-slider-ct">
                                            <div class="nov-center slider-none">
                                                <div class="nov-title effect-2">
                                                    Slider Home1 02
                                                </div>
                                                <div class="nov-description effect-4">
                                                    <p>Slider Home1 02</p>
                                                </div>
                                                <div class="nov-html effect-9">
                                                    <p>Slider Home1 02</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="htmlcaption_29" class="nivo-html-caption">
                                        <div class="nov-slider-ct">
                                            <div class="nov-center slider-left">
                                                <div class="nov-title effect-1">
                                                    Slider Home1 03
                                                </div>
                                                <div class="nov-description effect-1">
                                                    <p>Slider Home1 03</p>
                                                </div>
                                                <div class="nov-html effect-9">
                                                    <p>Slider Home1 03</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="nov_row-full-width clearfix w-100"></div>
                    </div>
                </div>
            </div>
            <div id="wrapper-site">



                <div id="content-wrapper" class="full-width">


                    <div id="main">


                        <!--page starts from here -->
                        <div class="container mb-4" style="margin-top: 10%;">
                            <div class="row">
                                <div class="col-lg-4 pb-5">
                                    <!-- Account Sidebar-->
                                    <div class="author-card pb-3">

                                        <div class="author-card-cover">
                                            <h6 class="fa fa-award text-md"
                                                style="padding-left: 30%; padding-top: 10%;">my account</h5>
                                                <br>
                                                <br>
                                                <h3 style="padding-left: 30%; padding-top: 5%; color: #000;">

                                                </h3>
                                        </div>
                                        <div class="author-card-profile">
                                            <div class="">

                                            </div>

                                            <div class="author-card-details " style="margin-left: 20%;">
                                                <h5 class="author-card-name text-lg  text-uppercase"
                                                    style="color:black;">

                                                </h5><span class="author-card-position"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wizard">
                                        <nav class="list-group list-group-flush">
                                            <a class="list-group-item " href="/userprofile">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div><i class="fa fa-shopping-bag mr-1 text-muted"></i>
                                                        <div class="d-inline-block font-weight-medium text-uppercase">
                                                            Profile Settings</div>
                                                    </div><span class="badge badge-secondary"></span>
                                                </div>
                                            </a><a class="list-group-item  " href="/userorderlist">
                                                <i class="fa fa-user text-muted"></i>Orders List</a><a
                                                class="list-group-item " href="/address"><i
                                                    class="fa fa-map-marker text-muted"></i>Addresses</a>
                                           
                                            <a class="list-group-item active" href="/wallethistory">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div><i class="fa fa-tag mr-1 text-muted"></i>
                                                        <div class="d-inline-block font-weight-medium text-uppercase">
                                                            Wallet history </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </nav>
                                        <%for(let j=0;j<wallet.length;j++){%>
                                            <div class="wallet-details-box">
                                                <h5>Wallet Details</h5>
                                                <p>Wallet Amount: ₹<%= wallet[j].walletAmount %>
                                                </p>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <style>
                                    table {
                                        width: 100%;
                                        border-collapse: collapse;
                                    }

                                    th,
                                    td {
                                        border: 1px solid #ddd;
                                        padding: 8px;
                                        text-align: left;
                                    }

                                    th {
                                        background-color: #f2f2f2;
                                    }

                                    tr:nth-child(even) {
                                        background-color: #f2f2f2;
                                    }

                                    .pagination {
                                        display: inline-block;
                                    }

                                    .pagination a {
                                        color: black;
                                        float: left;
                                        padding: 8px 16px;
                                        text-decoration: none;
                                    }

                                    .pagination a.active {
                                        background-color: #4CAF50;
                                        color: white;
                                    }
                                </style>

                               
                                        <div class="col-lg-8 pb-5">
                                            <div class="container">
                                                <table id="dtBasicExample" class="table table-striped table-bordered"
                                                    style="background-color: #f3f3f3;" cellspacing="0" width="100%">
                                                    <thead style="background-color: #404a58; color: white;">
                                                        <tr>
                                                            <th class="th-sm" style="color: #000;">Order ID</th>
                                                            <th class="th-sm" style="color: #000;">Amount</th>
                                                            <th class="th-sm" style="color: #000;">Date</th>
                                                            <th class="th-sm" style="color: #000;">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for (let i=0; i < wallet.length; i++) { %>
                                                            <% for (let j=0; j < wallet[i].history.length; j++) { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= wallet[i].history[j]._id %>
                                                                    </td>
                                                                    <td>
                                                                        ₹ <%= wallet[i].history[j].amount %>/-
                                                                    </td>
                                                                    <td>
                                                                        <% const orderDate=new
                                                                            Date(wallet[i].history[j].date); %>
                                                                            <% if (!isNaN(orderDate)) { %>
                                                                                <%= orderDate.toISOString().split('T')[0]
                                                                                    %>
                                                                                    <% } else { %>
                                                                                        <%= wallet[i].history[j].date %>
                                                                                            <% } %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (wallet[i].history[j].status==='credited'
                                                                            ) { %>
                                                                            <span
                                                                                class="badge rounded-pill alert-success"
                                                                                style="font-size: 10px;">Credited</span>
                                                                            <% } else if
                                                                                (wallet[i].history[j].status==='debited'
                                                                                ) { %>
                                                                                <span
                                                                                    class="badge rounded-pill alert-danger"
                                                                                    style="font-size: 10px;">Debited</span>
                                                                                <% } %>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                                    <% } %>
                                                    </tbody>
                                                </table>

                                                <style>
                                                    /* Style for pagination links */
                                                    .page-link {
                                                        display: inline-block;
                                                        padding: 8px 16px;
                                                        /* Adjust the padding as needed */
                                                        background-color: #007bff;
                                                        /* Button background color */
                                                        color: #fff;
                                                        /* Text color */
                                                        text-align: center;
                                                        text-decoration: none;
                                                        border-radius: 4px;
                                                        /* Rounded corners */
                                                        margin: 2px;
                                                        /* Spacing between links */
                                                        cursor: pointer;
                                                    }

                                                    /* Hover effect */
                                                    .page-link:hover {
                                                        background-color: #0056b3;
                                                        /* Darker background color on hover */
                                                    }

                                                    /* Active link (current page) */
                                                    .page-link.active {
                                                        background-color: #0056b3;
                                                        /* Darker background color for the active link */
                                                    }
                                                </style>

                                                <div class="pagination">
                                                    <a href="#" onclick="showPage(1)" class="page-link">1</a>
                                                    <a href="#" onclick="showPage(2)" class="page-link">2</a>
                                                    <a href="#" onclick="showPage(3)" class="page-link">3</a>
                                                    <a href="#" onclick="showPage(4)" class="page-link">4</a>
                                                </div>
                                            </div>
                                        </div>
                                      

                                          
                                           




                            </div>
                        </div>
                    </div>
                </div>

                <style>
                    .wallet-details-box {
                        margin-top: 5%;
                        border: 1px solid #ccc;
                        padding: 20px;
                        background-color: #f3f3f3;
                        border-radius: 5px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        text-align: center;
                        margin-bottom: 20px;
                    }

                    .wallet-details-box h5 {
                        color: #404a58;
                        font-size: 18px;
                        margin: 0;
                        margin-bottom: 10px;
                    }

                    .wallet-details-box p {
                        color: #000;
                        font-size: 24px;
                        font-weight: bold;
                        margin: 0;
                    }
                </style>


                <style>
                    .custom-div {
                        border: 2px solid #f1f3f5;
                        /* Border color and width */
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        /* Shadow effect */
                        padding: 20px;
                        /* Padding to separate content from the border */
                        background-color: #f8f9fa;
                        /* Background color */
                        transition: background-color 0.3s ease-in-out;
                        /* Smooth color transition on hover */
                    }

                    /* Hover effect to highlight the div */
                    .custom-div:hover {
                        background-color: #c9ced4;
                        /* Highlighted background color */
                        color: #fff;
                        /* Text color on hover */
                    }

                    table.dataTable thead .sorting:after,
                    table.dataTable thead .sorting:before,
                    table.dataTable thead .sorting_asc:after,
                    table.dataTable thead .sorting_asc:before,
                    table.dataTable thead .sorting_asc_disabled:after,
                    table.dataTable thead .sorting_asc_disabled:before,
                    table.dataTable thead .sorting_desc:after,
                    table.dataTable thead .sorting_desc:before,
                    table.dataTable thead .sorting_desc_disabled:after,
                    table.dataTable thead .sorting_desc_disabled:before {
                        bottom: .5em;
                    }
                </style>
                <script data-cfasync="false"
                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
                <script type="text/javascript">
                </script>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    function checked(id) {
                        swal({
                            title: "Are you sure?",
                            text: "Aru you sure want to cancel ?!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                            .then((willDelete) => {
                                if (willDelete) {

                                    location.href = "/cancelorder/?id=" + id
                                } else {
                                    swal("Your order is safe!");
                                }
                            });
                    }
                </script>
                <script>
                    function returned(id) {
                        swal({
                            title: "Return Request",
                            text: "Please provide the reason for the return:",
                            content: {
                                element: "input",
                                attributes: {
                                    placeholder: "Enter reason here",
                                },
                            },
                            buttons: {
                                cancel: "Cancel",
                                confirm: "Submit",
                            },
                        }).then((value) => {
                            if (value) {
                                // User submitted a reason
                                var reason = value;

                                // Now you can send the reason to your server or process it as needed.
                                // Example: You can send it as a query parameter in the URL.
                                location.href = `/returnorder/?id=${id}&reason=${encodeURIComponent(reason)}`;
                            }
                        });
                    }
                </script>

                <script>

                    function showPage(pageNumber) {
                        // Hide all rows
                        let rows = document.querySelectorAll("table tbody tr");
                        for (let i = 0; i < rows.length; i++) {
                            rows[i].style.display = "none";
                        }
                        // Show the rows for the selected page
                        let startIndex = (pageNumber - 1) * 10; // Adjust '10' to your desired number of rows per page
                        for (let i = startIndex; i < startIndex + 10; i++) {
                            if (i < rows.length) {
                                rows[i].style.display = "table-row";
                            }
                        }
                    }

                    // Initial page load
                    showPage(1);

                    // Pagination links click event
                    let paginationLinks = document.querySelectorAll(".pagination a");
                    for (let i = 0; i < paginationLinks.length; i++) {
                        paginationLinks[i].addEventListener("click", function (e) {
                            e.preventDefault(); // Prevent the default link behavior
                            showPage(i + 1);
                        });
                    }
                </script>



                <script>
                    $(document).ready(function () {
                        $('#dtBasicExample').DataTable();
                        $('.dataTables_length').addClass('bs-select');
                    });
                </script>






                <script data-cfasync="false"
                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
                <script type="text/javascript">

                </script>


                <script type="text/javascript"
                    src="user_assets/ridestyle/themes/vinova_ridestyle/assets/cache/bottom-4fd30440.js"></script>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous"></script>



                <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.10";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
    </body>

</html>